require 'pp'
require 'pathname'

# Use MzScheme for parsing now (shoul dprobably test it with 
scheme_parse = Pathname.new("#{RAILS_ROOT}/vendor/scheme_parse.ss").realpath
$parse_cmd  = "cd %s && mzscheme -r #{scheme_parse}"

# Comper and Checker commands have been moved to /vendor/libcheck/lang/*/init.rb
