<%
# Copyright (C) 2007, 2008 Corey Kump
# Copyright (C) 2007, 2008 Jason Sauppe
# Copyright (C) 2007, 2008 Andy Spencer <spenceal@rose-hulman.edu>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>
<h2>About</h2>
<p>The PLC Scheme Grading Project was started by Dr. Claude Anderson, a 
professor of Computer Science and Software Engineering at Rose-Hulman 
Institute of Technology, at the beginning of the 2007-2008 academic year.</p>

<p>During the fall quarter, a team of students in CSSE 371 (Micah Weaver, 
Harry Henman, and Chris Riley) worked with Dr. Anderson to develop the 
requirements and specifications for the project. The documentation that they 
wrote was then used by students in CSSE 372 (Corey Kump, Jason Sauppe, and 
Andy Spencer) to implement the project.</p>

<p>Everything you see here is a result of their efforts.</p>
